<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="'Accounts of ' + ${name}"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<!--вывод таблицы-->
<h1 th:text="'Accounts of ' + ${name}" />
<div th:switch="${accountsList}">
    <h2 th:case="null">No accounts found!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr style="background-color:#35e384;">
                <th>AccountID</th>
                <th>AmountOfMoney</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accountsList}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.money}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div>
    <form th:action="@{/accounts/{name}(name=${name})}" method="post"> <!--без уточнения не работает-->
        <input type="number" name="money" placeholder="Money of new accounts" min="1" max="10000" style="width: 150px;"/>
        <!--<input type="hidden" name="_csrf" value="_csrf.token"/>-->
        <button type="submit">Добавить новый счёт</button>
    </form>
</div>
<br>
<a href="/clients">Go back</a>
<a href="/">Go to Main Menu</a>
</body>
</html>