<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AccountList</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Accounts of bank</h1>
<!--вывод таблицы-->
<div th:switch="${accounts}">
    <h2 th:case="null">No accounts found!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr style="background-color:#35e384;">
                <th>Id</th>
                <th>ClientID</th>
                <th>AmountOfMoney</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.clientId}"></td>
                <td th:text="${account.money}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<!--<div>
    <form th:action="@{/accounts}" method="post">
        <input type="number" name="clientId" placeholder="Id of new account" min="1" max="100" style="width: 150px;"/>
        <input type="number" name="money" placeholder="Money of new client" min="1" max="10000" style="width: 150px;"/>
        &lt;!&ndash;<input type="hidden" name="_csrf" value="_csrf.token"/>&ndash;&gt;
        <button type="submit">Добавить</button>
    </form>
</div>-->
<br>
<div>
    <form method="post"> <!--перегружает пост?-->
        <input type="number" name="accountIDfrom" placeholder="Id of account from" min="1" max="100" style="width: 150px;"/>
        <input type="number" name="accountIDto" placeholder="Id of account to" min="1" max="10000" style="width: 150px;"/>
        <input type="number" name="money" placeholder="Amount of money to transact" min="1" max="10000" style="width: 150px;"/>
        <!--<input type="hidden" name="_csrf" value="_csrf.token"/>-->
        <button type="submit">Make transaction</button>
    </form>
</div>
<div>
    <form th:href="@{addmoney/{id}(id=${accountID}/{money}(id=${money})}" method="post"> <!--перегружает пост?-->
        <input type="number" name="accountID" placeholder="Id of account to add" min="1" max="100" style="width: 150px;"/>
        <input type="number" name="money" placeholder="Amount of money to add" min="1" max="10000" style="width: 150px;"/>
        <!--<input type="hidden" name="_csrf" value="_csrf.token"/>-->
        <button type="submit">Add money</button>
    </form>
</div>

<a href="/">Go to Main Menu</a>
</body>
</html>