<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Transaction</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>All transaction in bank</h1>
<!--<form method="post" action="filter">
    <input type="date" action="filter">
    <br>
    <input type="radio" id="before" name="dateType" value="before">
    <label for="before">before</label>
    <br>
    <input type="radio" id="after" name="dateType" value="after">
    <label for="after">after</label>
    <br>
    <button type="submit">Filter</button>
</form>-->
<!--вывод таблицы-->
<div th:switch="${transactions}">
    <h2 th:case="null">No transaction found!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr style="background-color:#35e384;">
                <th>ID</th>
                <th>AccountIDfrom</th>
                <th>AccountIDto</th>
                <th>Money</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.accountFrom}"></td>
                <td th:text="${transaction.accountTo}"></td>
                <td th:text="${transaction.money}"></td>
                <td th:text="${transaction.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<!--<div>
    <form method="post">
        <input type="number" name="accountIDfrom" placeholder="Id of account from" min="1" max="100" style="width: 150px;"/>
        <input type="number" name="accountIDto" placeholder="Id of account to" min="1" max="10000" style="width: 150px;"/>
        <input type="number" name="money" placeholder="Amount of money to transact" min="1" max="10000" style="width: 150px;"/>
        &lt;!&ndash;<input type="hidden" name="_csrf" value="_csrf.token"/>&ndash;&gt;
        <button type="submit">New transaction</button>
    </form>
</div>-->
<br>
<a href="/">Go to Main Menu</a>
</body>
</html>